.container{
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 5px black;
    margin-right: 1.5rem;
}

.btn{
    margin-bottom: 1.3rem;
}

.bookForm{
    width: 20vw;
    margin-bottom: 2rem;
    display: none;
}

.bookForm form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid black;
}

.formBtn{
    margin-bottom: 1.3rem;
}
